<% layout('layouts/boilerplate') %>
<h1>Login Form</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" name="username" id="username" class="form-control" required>
        <div class="valid-feedback">
            OK!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        <div class="valid-feedback">
            OK!
        </div>
    </div>
    <button class="btn btn-success">verify</button>
</form>